<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityBusquedaGuiada"></activity>
        <activity android:name=".ActivityBusquedaAbierta" />
        <activity android:name=".ActivityPoliticas" />
        <activity android:name=".familia.ActivityBuscarFamilia" />
        <activity
            android:name=".ActivitySplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDetalle"
            android:parentActivityName=".lista.ActivityLista" />
        <activity android:name=".principal.ActivityPrincipal" />
        <activity
            android:name=".lista.ActivityLista"
            android:parentActivityName=".principal.ActivityPrincipal" />
        <activity
            android:name=".tipohoja.ActivityBuscarTipoHoja"
            android:parentActivityName=".principal.ActivityPrincipal" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>